.main-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.fields-container {
    display: flex;
    width: 50%;
}

.lon-field {
    margin-left: 10px;
}

.raccoon-image {
    max-width: 300px;
    max-height: 300px;
}

.weather-text {
    font-weight: bold;
}

.history-container {
    width: 50%;
}

.history {
    height: 300px;
    width: 100%;
}